# **Frinces Lija Duti Naibaho**

In [ ]:
import pandas as pd

# Baca file JSON
df = pd.read_json("data_film.json")

# Simpan ke CSV
df.to_csv("data.csv", index=False)

In [ ]:
#download csv ke colab
from google.colab import files
files.download("data.csv")

In [ ]:
#Menampilkan Semua Kolom
print(df.columns)

Index(['judul', 'tags', 'deskripsi', 'sutradara', 'bintang', 'negara',
       'durasi', 'rating', 'rilis_date'],
      dtype='object')

In [ ]:
#Menampilkan struktur dataset
print("Info Dataset")
df.info()

Info Dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56276 entries, 0 to 56275
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   judul       56276 non-null  object
 1   tags        51458 non-null  object
 2   deskripsi   49358 non-null  object
 3   sutradara   51340 non-null  object
 4   bintang     51277 non-null  object
 5   negara      28202 non-null  object
 6   durasi      56276 non-null  object
 7   rating      56276 non-null  float64
 8   rilis_date  56276 non-null  object
dtypes: float64(1), object(8)
memory usage: 3.9+ MB

In [ ]:
#menampilkan missing value
print(df.isnull().sum())

judul             0
tags           4818
deskripsi      6918
sutradara      4936
bintang        4999
negara        28074
durasi            0
rating            0
rilis_date        0
dtype: int64

In [ ]:
#menangani missing value dengan cara isi dengan unknown
df['tags'] = df['tags'].fillna("Unknown")
df['deskripsi'] = df['deskripsi'].fillna("Unknown")
df['sutradara'] = df['sutradara'].fillna("Unknown")
df['negara'] = df['negara'].fillna("Unknown")
df['bintang'] = df['bintang'].fillna("Unknown")

In [ ]:
print(df.isnull().sum())

judul         0
tags          0
deskripsi     0
sutradara     0
bintang       0
negara        0
durasi        0
rating        0
rilis_date    0
dtype: int64

In [ ]:
#cek data cuplikat
df.duplicated().sum()        # cek total duplikat
df = df.drop_duplicates()    # hapus duplikat

#harusnya tadi dijalaninnya satu2 biar keliatan ada apa engga duplikatnya,
#tp td gua malah disatuin jd langsung kehapus (kalau emg ada)

In [ ]:
#cek baris duplikat
df.duplicated().sum()

np.int64(0)

In [ ]:
#Menampilkan Tipe Data Kolom
df.dtypes

judul          object
tags           object
deskripsi      object
sutradara      object
bintang        object
negara         object
durasi         object
rating        float64
rilis_date     object
dtype: object

In [ ]:
#Mengubah isi kolom durasi jadi tipe angka (numeric / int / float).
df["durasi_num"] = pd.to_numeric(df["durasi"], errors="coerce")
print(df)

                                                   judul  \
0                                               Superman
1                                          A Gilded Game
2                                          Night Carnage
3                              Blood Brothers: Bara Naga
4                                  High Five aka Hi Five
...                                                  ...
56271                                           Dead Men
56272      'NoneType' object has no attribute 'get_text'
56273                                  Woman Walks Ahead
56274  HTTPSConnectionPool(host='tv6.lk21official.cc'...
56275  HTTPSConnectionPool(host='tv6.lk21official.cc'...

                                                    tags  \
0      Canada, Australia, United States, New Zealand,...
1                                          China, Action
2                 United States, Action, Romance, Horror
3                         Malaysia, Drama, Action, Crime
4                 South Korea, Comedy, Action, Adventure
...                                                  ...
56271              United States, Drama, Action, Western
56272                                            Unknown
56273  United States, Drama, Biography, History, Western
56274                                            Unknown
56275                                            Unknown

                                               deskripsi       sutradara  \
0      Dalam versi reimajinasi yang epik dari Superma...      James Gunn
1      Seorang mahasiswa keuangan berbakat mendapatka...      Herman Yau
2      Seorang blogger manusia serigala bertemu denga...      Sadie Katz
3      Sekelompok pria yang bekerja di sebuah organis...  Sharnaaz Ahmad
4      Lima orang biasa, yang mengembangkan kekuatan ...       Yoo Ah-In
...                                                  ...             ...
56271  Di bawah kekuasaan Taliban, Parvana (11 tahun)...   Royston Innes
56272                                            Unknown         Unknown
56273  Sebuah perjalanan emosional dua saudari yang m...   Susanna White
56274                                            Unknown         Unknown
56275                                            Unknown         Unknown

                                                 bintang  \
0      Nicholas Hoult, Alan Tudyk, Rachel Brosnahan, ...
1                        Andy Lau, Hao Ou, James Filbird
2                                          United States
3                                               Malaysia
4                                            South Korea
...                                                  ...
56271  Ric Maddox, Aaron Marciniak, Sasha Higgins, Ma...
56272                                            Unknown
56273  Jessica Chastain, Louisa Krause, Boots Souther...
56274                                            Unknown
56275                                            Unknown

                                              negara  durasi  rating  \
0      Canada, Australia, United States, New Zealand       0     2.3
1                                              China       0     1.7
2                                            Unknown       1     9.5
3                                            Unknown       0     9.6
4                                            Unknown       2     0.7
...                                              ...     ...     ...
56271                                  United States       1    10.0
56272                                        Unknown       0     9.3
56273                                  United States       0     6.9
56274                                        Unknown       0     7.0
56275                                        Unknown       0     8.2

       rilis_date  durasi_num
0      2006-02-26           0
1      2002-03-02           0
2      2009-11-12           1
3      2021-01-30           0
4      2011-04-04           2
...           ...         ...
56271  2008-08-28           1
56272  2008-03-01           0
56273  2019-08-03           0
56274  2008-12-18           0
56275  2019-12-04           0

[56276 rows x 10 columns]

In [ ]:
#Menampilkan Tipe Data Kolom
df.dtypes

judul          object
tags           object
deskripsi      object
sutradara      object
bintang        object
negara         object
durasi          int64
rating        float64
rilis_date     object
durasi_num      int64
dtype: object

In [ ]:
#mengubah kolom rilis_date menjadi tipe tanggal/waktu (datetime)
df['rilis_date'] = pd.to_datetime(df['rilis_date'], errors='coerce')

In [ ]:
#Menampilkan Tipe Data Kolom
df.dtypes

judul                 object
tags                  object
deskripsi             object
sutradara             object
bintang               object
negara                object
durasi                 int64
rating               float64
rilis_date    datetime64[ns]
durasi_num             int64
dtype: object

In [ ]:
#sebelumnya ada kolom durasi_num padahal ga nambahin, itu karena sebelumnya sempet ada code yg memengaruhi dan ngebuat kolom tsb
#hapus kolom durasi_num
df = df.drop(columns=["durasi_num"])

In [ ]:
#Menampilkan Tipe Data Kolom lagi karena habis diubah jadi mau dicek
df.dtypes

judul                 object
tags                  object
deskripsi             object
sutradara             object
bintang               object
negara                object
durasi                 int64
rating               float64
rilis_date    datetime64[ns]
dtype: object

In [ ]:
#menyimpan df ke csv
df.to_csv("data_bersih.csv", index=False)

In [ ]:
#download file csv yg baru udah dicleaning
from google.colab import files
files.download("data_bersih.csv")